2018-10-17 and 2018-6-29 have different lengths?

In [10]:
import pandas as pd
import os

path = '/Users/hkromer/02_PhD/tmp/data_robert/'
fnames = ['2018-10-17', '2018-6-29', '2018-7-11']

files = os.listdir(path)
files = [f for f in files if f.endswith('.csv')]

In [ ]:
data = pd.DataFrame()
num_entries = []
for f in files:
    _ = pd.read_csv(f'{path}{f}', index_col=0)
    print(_.head())
    num_entries.append(_.shape[0])
    
data['filename'] = files
data['entries'] = num_entries
data['entries'].value_counts()

In [17]:
data_wrong_lines = data[ data['entries'] == 8640]
data_wrong_lines

           filename  entries
20   2018-10-17.csv     8640
119   2018-6-29.csv     8640

In [80]:
data = pd.read_csv(f'{path}2019-4-30.csv', index_col=0)
data.index = pd.to_datetime(data.index, format='%Y-%m-%d %H:%M:%S')
data.shape

(8635, 4)

In [81]:
correct_range = pd.date_range(start='2019-4-30 00:00:00', end='2019-4-30 23:59:59', freq='10s')

In [83]:
correct_range.shape

(8640,)

In [84]:
l1 = data.index.strftime('%Y-%m-%d %H:%M:%S').tolist()
l2 = correct_range.strftime('%Y-%m-%d %H:%M:%S').tolist()

In [87]:
for item in l2:
    if item in l1:
        pass
    else:
        print(f'Missing time in the original data: {item}')

Missing time in the original data: 2019-04-30 23:59:10
Missing time in the original data: 2019-04-30 23:59:20
Missing time in the original data: 2019-04-30 23:59:30
Missing time in the original data: 2019-04-30 23:59:40
Missing time in the original data: 2019-04-30 23:59:50

In [88]:
data.tail()

                     HV_voltage  HV_current  dose_corrected  neutron_output
time
2019-04-30 23:58:20         0.0         0.0             0.0             0.0
2019-04-30 23:58:30         0.0         0.0             0.0             0.0
2019-04-30 23:58:40         0.0         0.0             0.0             0.0
2019-04-30 23:58:50         0.0         0.0             0.0             0.0
2019-04-30 23:59:00         0.0         0.0             0.0             0.0

In [76]:

data.duplicated(subset='time')

0       False
1       False
2       False
3       False
4       False
        ...
8635    False
8636    False
8637    False
8638    False
8639    False
Length: 8640, dtype: bool

In [74]:
data

,time,HV_voltage,HV_current,dose_corrected,neutron_output
0,2018-10-17 00:00:00,0.0,0.0,0.000000,0.000000
1,2018-10-17 00:00:10,0.0,0.0,0.000000,0.000000
2,2018-10-17 00:00:20,0.0,0.0,0.000000,0.000000
3,2018-10-17 00:00:30,0.0,0.0,0.000000,0.000000
4,2018-10-17 00:00:40,0.0,0.0,0.000000,0.000000
5,2018-10-17 00:00:50,0.0,0.0,0.000000,0.000000
6,2018-10-17 00:01:00,0.0,0.0,0.000000,0.000000
7,2018-10-17 00:01:10,0.0,0.0,0.000000,0.000000
8,2018-10-17 00:01:20,0.0,0.0,0.000000,0.000000
9,2018-10-17 00:01:30,0.0,0.0,0.000000,0.000000
10,2018-10-17 00:01:40,0.0,0.0,0.000000,0.000000
11,2018-10-17 00:01:50,0.0,0.0,0.000000,0.000000
12,2018-10-17 00:02:00,0.0,0.0,0.000000,0.000000
13,2018-10-17 00:02:10,0.0,0.0,0.000000,0.000000
14,2018-10-17 00:02:20,0.0,0.0,0.000000,0.000000
15,2018-10-17 00:02:30,0.0,0.0,0.000000,0.000000
16,2018-10-17 00:02:40,0.0,0.0,0.000000,0.000000
17,2018-10-17 00:02:50,0.0,0.0,0.000000,0.000000
18,2018-10-17 00:03:00,0.0,0.0,0.000000,0.000000
19,2018-10-17 00:03:10,0.0,0.0,0.000000,0.000000
20,2018-10-17 00:03:20,0.0,0.0,0.000000,0.000000
21,2018-10-17 00:03:30,0.0,0.0,0.000000,0.000000
22,2018-10-17 00:03:40,0.0,0.0,0.000000,0.000000
23,2018-10-17 00:03:50,0.0,0.0,0.000000,0.000000
24,2018-10-17 00:04:00,0.0,0.0,0.000000,0.000000
25,2018-10-17 00:04:10,0.0,0.0,0.000000,0.000000
26,2018-10-17 00:04:20,0.0,0.0,0.000000,0.000000
27,2018-10-17 00:04:30,0.0,0.0,0.000000,0.000000
28,2018-10-17 00:04:40,0.0,0.0,0.000000,0.000000
29,2018-10-17 00:04:50,0.0,0.0,0.000000,0.000000
...,...,...,...,...,...
8610,2018-10-17 23:55:00,0.0,0.0,21.969705,521997.969622
8611,2018-10-17 23:55:10,0.0,0.0,19.573010,465052.736097
8612,2018-10-17 23:55:20,0.0,0.0,24.366400,578943.203147
8613,2018-10-17 23:55:30,0.0,0.0,24.366400,578943.203147
8614,2018-10-17 23:55:40,0.0,0.0,24.366400,578943.203147
8615,2018-10-17 23:55:50,0.0,0.0,12.382924,294217.035522
8616,2018-10-17 23:56:00,0.0,0.0,21.969705,521997.969622
8617,2018-10-17 23:56:10,0.0,0.0,24.366400,578943.203147
8618,2018-10-17 23:56:20,0.0,0.0,24.366400,578943.203147
8619,2018-10-17 23:56:30,0.0,0.0,24.366400,578943.203147
8620,2018-10-17 23:56:40,0.0,0.0,19.573010,465052.736097
8621,2018-10-17 23:56:50,0.0,0.0,17.176315,408107.502572
8622,2018-10-17 23:57:00,0.0,0.0,14.779620,351162.269047
8623,2018-10-17 23:57:10,0.0,0.0,14.779620,351162.269047
8624,2018-10-17 23:57:20,0.0,0.0,14.779620,351162.269047
8625,2018-10-17 23:57:30,0.0,0.0,19.573010,465052.736097
8626,2018-10-17 23:57:40,0.0,0.0,17.176315,408107.502572
8627,2018-10-17 23:57:50,0.0,0.0,19.573010,465052.736097
8628,2018-10-17 23:58:00,0.0,0.0,14.779620,351162.269047
8629,2018-10-17 23:58:10,0.0,0.0,21.969705,521997.969622
8630,2018-10-17 23:58:20,0.0,0.0,17.176315,408107.502572
8631,2018-10-17 23:58:30,0.0,0.0,21.969705,521997.969622
8632,2018-10-17 23:58:40,0.0,0.0,12.382924,294217.035522
8633,2018-10-17 23:58:50,0.0,0.0,17.176315,408107.502572
8634,2018-10-17 23:59:00,0.0,0.0,14.779620,351162.269047
8635,2018-10-17 23:59:10,0.0,0.0,19.573010,465052.736097
8636,2018-10-17 23:59:20,0.0,0.0,24.366400,578943.203147
8637,2018-10-17 23:59:30,0.0,0.0,21.969705,521997.969622
8638,2018-10-17 23:59:40,0.0,0.0,24.366400,578943.203147
8639,2018-10-17 23:59:50,0.0,0.0,21.969705,521997.969622